/** Basic config file **/

configuration {
  show-icons:         true;
  icon-theme:         "Papirus";
  font: "Hack Nerd Font 10";
}
//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
@theme "/usr/share/rofi/themes/sidebar.rasi"
